:root{
    --yellow: #ffcf41;
    --black: #000;
    --white: #fff;
    --gray: #6c757d;
    --bg-dark: #ececec;
    --blue: #0052cc;
}

/* ---- Body ----*/
body{
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "CerebriSansPro", "Inter", sans-serif;
    overflow: hidden;
    margin: 0px;
}

/* ---- Main Container ----*/
.main{
    height: 550px;
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(116, 116, 116);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

.main span{
    width: 100%;
    padding: 5px;
}

.main>.length>label,.main>.output>label{
    width: 100%;
    padding: 8px 0px;
    display: block;
    letter-spacing: 0.3px;
    word-spacing: 4px;
    font-weight: 600;
}

/* ---- Heading ----*/
.main .heading h1{
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.3px;
    word-spacing: 5px;
    text-align: center;
}
/* ---- Password Length Input ----*/
.main .length input{
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 2px lightslategray solid;
    width: calc(100% - 10px);
    height: 16px;
    font-size: 16px;
}

/* ---- Other Parameter ----*/
.other-parameters{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.other-parameters > span{
    width: 50%;
    font-size: 17px;
    letter-spacing: 0.4px;
    padding: 0px !important;
}
.other-parameters > span > input{
    padding-right: 10px;
}

/* ---- Buttons ----*/
#passwordOutput, #copyPassword, #savePassword, #generatePassword{
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.7px;
    border-radius: 5px;
    border: 0px;
    word-spacing: 4px;
    cursor: pointer;
}
#passwordOutput{
    background-color: rgb(238, 238, 238);
}
#generatePassword{
    color: white;
    background-color: var(--black);
}
#copyPassword{
    color: var(--black);
    background-color: var(--yellow);
}


#savePassword{
    color: var(--white);
    background-color: var(--blue);
}


/* ---- Responsiveness ----*/
@media screen and (max-width:768px) {
    .main{
        height: 60%;
        width: 80%;
        overflow: hidden;
    }
    .main .heading h1{
        font-size: 24px;
    }
}
